.btn-new{
    background-color: green;
    color: white;
}

.btn-done{
    background-color: blue;
    color: white;
    margin-right: 10px;
}

.btn-remove{
    background-color: red;
    color: white;
    margin-right: 10px;
}

.btn-new:disabled {
    background-color: grey;
    cursor: not-allowed;
}